.vex.gi-ui-overlay {
	padding-top: 160px;
	padding-bottom: 160px;

	&.vex-closing .vex-content {
		animation: vex-flyout 0.5s;
	}

	.vex-content {
		background: #f0f0f0;
		padding: 1em;
		position: relative;
		margin: 0 auto;
		max-width: 100%;
		width: 450px;
		font-size: 1.1em;
		line-height: 1.5em;
		animation: vex-flyin 0.5s;
	}

	.vex-close {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;

		&:before {
			position: absolute;
			content: "\00D7";
			font-size: 36px;
			font-weight: normal;
			line-height: 31px;
			height: 30px;
			width: 30px;
			text-align: center;
			top: 3px;
			right: 3px;
			color: #111;
			background: rgba(white, 0.5);
			border-radius: 50%;
		}
	}

	.vex-dialog-form {
		.vex-dialog-message {
			margin-bottom: 0.5em;
		}

		.vex-dialog-input {
			width: 100%;

			input {
				background: #fff;
				width: 100%;
				padding: .25em .67em;
				border: 0;
				font-size: inherit;
				min-height: 2.5em;
				margin: 0 0 1em;
			}
		}

		.vex-dialog-buttons {
			overflow: hidden;
			clear: both;
		}
	}

	.vex-dialog-button {
		border: 0;
		float: right;
		margin: 0 0 0 0.5em;
		font-family: inherit;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-size: 0.8em;
		line-height: 1em;
		padding: 0.75em 2em;

		&.vex-last {
			margin-left: 0;
		}
	}

	&.vex-dialog-button-primary {
		color: white;
	}

	&.vex-dialog-button-secondary {
		background: #e0e0e0;
		color: #777777;
	}
}

.vex-loading-spinner.vex-theme-default {
	box-shadow: 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3);
	background: #f0f0f0;
	border: 0.2em solid transparent;
	border-top-color: #bbbbbb;
	top: -1.1em;
	bottom: auto;
}

@keyframes vex-flyin {
	0% {
		opacity: 0;
		transform: translateY(-40px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


@keyframes vex-flyout {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-40px);
	}
}